body {
  font-size: 14px;
}
table td, table th {
  padding: 10px 23px;
}
.demo-spacing {
  margin-bottom: 1rem;
}
.common-layout .w-header, .common-layout .w-footer {
  background-color: var(--w-color-primary-light-7);
  color: var(--w-text-color-primary);
  text-align: center;
}
.common-layout .w-header, .common-layout .w-footer, .common-layout .w-main, .common-layout .w-aside {
  display: flex;
  justify-content: center;
  align-items: center;
}
.common-layout .w-main {
  background-color: var(--w-color-primary-light-9);
  color: var(--w-text-color-primary);
  text-align: center;
  height: 150px;
}
.common-layout .w-header, .common-layout .w-footer {
  background-color: var(--w-color-primary-light-7);
  color: var(--w-text-color-primary);
  text-align: center;
}
.common-layout .w-aside {
  background-color: var(--w-color-primary-light-8);
  color: var(--w-text-color-primary);
  text-align: center;
}
.custom-block p {
  margin: 1rem 0;
}
:root {
  --ep-c-bg-row: #f9fafc;
  --ep-c-bg-purple: #d3dce6;
  --ep-c-bg-purple-dark: #99a9bf;
  --ep-c-bg-purple-light: #e5e9f2;
}

.dark {
  --ep-c-bg-row: #18191a;
  --ep-c-bg-purple: #46494d;
  --ep-c-bg-purple-dark: #242526;
  --ep-c-bg-purple-light: #667180;
}

.row-bg {
  padding: 10px 0;
  background-color: var(--ep-c-bg-row);
}

.ep-bg-purple-dark {
  background: var(--ep-c-bg-purple-dark);
}

.ep-bg-purple {
  background: var(--ep-c-bg-purple);
}

.ep-bg-purple-light {
  background: var(--ep-c-bg-purple-light);
}
